{{ "custom-product-deatil.css" | asset_url | stylesheet_tag }}


<div class="product-wrapper">
  <div class="product-wrapper--container page-width">
    <div class="product-image-slider">
      {% comment %} Slider Section {% endcomment %}
      <div class="product-image-slider--thumbnail-slider">
        <carousel-component class="splide product-card-slider">
          <div class="splide__track">
            <ul class="splide__list">
              {% for image in product.images %}
                <li class="splide__slide thumbnail_image_list">
                  <img
                    src="{{image | image_url}}"
                    alt="{{product.title}}"
                    width="300"
                    height="300" />
                </li>
              {% endfor %}
            </ul>
          </div>
        </carousel-component>
      </div>
      <div class="product-image-slider--main-image">
        <carousel-component class="splide slider-wrapper--image-splide product-card-slider">
          <div class="splide__track">
            <ul class="splide__list">
              {% for image in product.images %}
                <li class="splide__slide">
                  <img
                    src="{{image |  image_url}}"
                    alt="{{product.title}}"
                    width="{{image.width}}"
                    height="{{image.height}}" />
                </li>
              {% endfor %}
            </ul>
          </div>
        </carousel-component>
      </div>
    </div>
  </div>
  </div>