{% liquid
    assign current_variant = product.selected_or_first_available_variant
    assign featured_image = current_variant.image | default: product.featured_image
    assign secondary_image = product.images[1] | default: product.featured_image
    assign discountAmount = current_variant.compare_at_price | minus: current_variant.price
    assign discountPercentage = discountAmount | times: 100 | divided_by: current_variant.compare_at_price
  %}
{% style %}

.spr-icon-star-empty:before {
    content: '\e801';
}
.spr-badge-starrating .spr-icon {
    font-size: 100%;
}
.product-card--title{
    text-decoration:none;
    color:black;
    font-weight:500;

}
.product-card--price-amount{
    color:#111;
    opacity:0.8;
    font-size:16px;
    font-weight:bold;

}

{% endstyle %}

  <product-card 
    class="product-card header-drawer"
    data-product-handle="{{ product.handle}}" 
    data-section-id="{{ section_id }}"
  >

    <a href="{{ product.url }}" class="product-card__link position-relative">
      
      <div class="custom--best-sellers ">
      <div class="product-card__image custom-border-radius">
     
        {% render 'image',
          desktopImage: featured_image,
          class: 'media media--portrait'
        %}
    
      </div>
  
  
    </div>
    </a>
  
    <div class="product-card__info">
      <span><a href="{{ product.url }}" class="product-card--title">{{ product.title }}</a> </span>

<div class="product-card__prices">
  {% if product.price_varies %}
    <span class="product-card--price-amount"> {{ product.price_min | money_with_currency }}</span>
  {% else %}
    <span class="product-card--price-amount">  {{ product.price | money_with_currency }}</span>   
  {% endif %}                

  {% if current_variant.compare_at_price > current_variant.price %}
  <s class="product-card--price-amount">{{ current_variant.compare_at_price | money_without_trailing_zeros }}</s>
  {% endif %}


  {% assign rating = product.metafields.custom.product_rating %}
{% assign maxRating = 5 %}

{% if rating == null or rating == 0 %}
  <div class="star-rating">
    {% for i in (1..maxRating) %}
      <i class="spr-icon spr-icon-star-empty" aria-hidden="true"></i>
    {% endfor %}
  </div>
  <span>No Reviews</span>
{% else %}
  <div class="star-rating">
    {% for i in (1..maxRating) %}
      {% if i <= rating %}
        <i class="spr-icon spr-icon-star-filled" style="color: #06aaa1;" aria-hidden="true"></i>
      {% else %}
        <i class="spr-icon spr-icon-star-empty" aria-hidden="true"></i>
      {% endif %}
    {% endfor %}
  </div>
{% endif %}
</div>

        <div class="product-card__form">
          {% form 'product', product %}
            <input type="hidden" name="id" value="{{ current_variant.id }}">          
              {% if product.options_with_values %}
                  <div class="product-card__options">
                      {% for product_option in product.options_with_values %}
                          {% if product_option.name == "Color" %}
                              <div class="product-card__option">
                                  <ul class="product-card__list">
                                    {% for option_value in product_option.values %}
                                      {% assign isOptionOutOfStock = false %}
                                      
                                      {% if current_variant.inventory_quantity == 0 and product_option.selected_value == option_value %}
                                          {% assign isOptionOutOfStock = true %}
                                      {% endif %}
                                      
                                      <li data-value={{ option_value }} class="product-card__color-dot item-swatch{% if isOptionOutOfStock %} out-of-stock{% endif %}" style="{% if product_option.selected_value == option_value %}border: 1px solid red;{% endif %}">
                                          <input 
                                              id="{{ current_variant.id | append: option_value }}"
                                              type="radio" 
                                              name="option-{{ product_option.name | handleize }}" 
                                              value="{{ option_value }}"
                                              {% if product_option.selected_value == option_value %}checked{% endif %}
                                          >
                                          <label data-value="{{ option_value }}" for="{{ current_variant.id | append: option_value }}"></label> 
                                          {% if isOptionOutOfStock %}
                                              <div class="product-variant-options__cross-line"></div>
                                          {% endif %}
                                      </li>
                                  {% endfor %}
                                  </ul>                                  
                              </div>
                          {% endif %}
                      {% endfor %}
                  </div>
              {% endif %}

          
          {% endform %}
          {% comment %} {% render 'buy-buttons', block: block, product: product, product_form_id: product_form_{{ section.id }}, section_id: {{ section.id }}, show_pickup_availability: true %} {% endcomment %}
        </div>
       </div>
  
    <script>  
      {{ product.variants | json }}
    </script>
  </product-card>