{% assign card_product_variant = product.selected_or_first_available_variant %}
{% if card_product_variant.featured_image != blank %}
  {% assign variant_featured_image = card_product_variant.featured_image %}
{% else %}
  {% assign variant_featured_image = product.featured_image %}
{% endif %}

{{ 'custom-product-card.css' | asset_url | stylesheet_tag }}

<veena-product-card data-handle="{{ product.handle }}" class="custom-product-card">
  <div class="custom-product-card--image-wrapper isolate">
    {% render 'responsive-picture', desktopImage: variant_featured_image, class: 'h-full' %}

    <!-- Badges  using tags -->
    {% for tag in product.tags %}
      {% if tag contains 'badge-' %}
        {% assign badge_text = tag | split: 'badge-' %}
        <span class="badge"> {{ badge_text }} </span>
      {% endif %}
    {% endfor %}
    <!-- Badges  using meta field -->

    {% for badge_text in product.metafields.custom.custom_badge.value %}
      <span class="badge"> {{ badge_text }} </span>
    {% endfor %}
    <!-- Badges  based on calculation -->
    {%- if card_product_variant.available == false -%}
      <span
        class="badge badge--bottom-left color-{{ settings.sold_out_badge_color_scheme }}"
      >
        {{- 'products.product.sold_out' | t -}}
      </span>

    {% elsif card_product_variant.price < card_product_variant.compare_at_price %}
      <span
        class="badge badge--top-left color-{{ settings.sale_badge_color_scheme }}"
      >
        {% assign compare_at_price = card_product_variant.compare_at_price %}
        {% assign price = card_product_variant.price %}
        {% assign discount = compare_at_price | minus: price %}
        {% assign discount_percentage = discount | times: 100 | divided_by: compare_at_price | round %}
         {{ discount_percentage }}%
      </span>
    {% endif %}
  </div>
  <div class="custom-product-card--info center">
    <div class="custom-product-card--variant-select">
      {% comment %}
      {% for option in product.options_with_values %}
          {% if option.name == 'color' or option.name == 'Color' %}
            {% for value in option.values %}
              <input
                id="custom_variant_radio--{{ forloop.index }}"
                name="{{ option.name }}"
                type="radio"
                value="{{ value }}"
                data-variant-id={{ card_product_variant.id }}
              >
              <label for="custom_variant_radio--{{ forloop.index }}">{{ value }}</label>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endcomment %}
      {% unless product.has_only_default_variant %}
        <div class="field mt-1">
          <select name="id" class="product-card__options select__select">
            {% for variant in product.variants %}
              <option
                value="{{ variant.id }}"
                {% if variant.id == current_variant.id %}
                  selected
                {% endif %}
              >
                {{ variant.title }}
              </option>
            {% endfor %}
          </select>
        </div>
      {% else %}
        <input type="hidden" name="id" value="{{ current_variant.id }}">
      {% endunless %}
    </div>
    <div class="custom-product-card--vendor">
      {{ product.vendor }}
    </div>
    <div class="custom-product-card--title">
      {{ card_product_variant.title }}
    </div>
    <div class="custom-product-card--price-container">
      <span class="custom-product-card--price"> {{ card_product_variant.price | money_with_currency }}</span>
      <span class="custom-product-card--price-on-sale">
        {{ card_product_variant.compare_at_price | money_with_currency -}}
      </span>
    </div>
    <div class="custom-product-card--inventory {% if card_product_variant.inventory_quantity < 15 %} low-stock {% else %} high-stock {% endif %}">
      {{ card_product_variant.inventory_quantity }} in stock
    </div>
    <!-- Add to cart button -->
    <product-form data-section-id="{{ section.id }}">
      {%- form 'product',
        product,
        id: product_form_id,
        class: 'form',
        novalidate: 'novalidate',
        data-type: 'add-to-cart-form'
      -%}
        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          class="product-variant-id"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >
        <button
          id="{{ product_form_id }}-submit"
          type="submit"
          name="add"
          class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
          aria-haspopup="dialog"
          aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ product.id }}"
          aria-live="polite"
          data-sold-out-message="true"
          {% if product.selected_or_first_available_variant.available == false %}
            disabled
          {% endif %}
        >
          <span>
            {%- if product.selected_or_first_available_variant.available -%}
              {{ 'products.product.add_to_cart' | t }}
            {%- else -%}
              {{ 'products.product.sold_out' | t }}
            {%- endif -%}
          </span>
          <span class="sold-out-message hidden">
            {{ 'products.product.sold_out' | t }}
          </span>
          {%- if horizontal_quick_add -%}
            <span class="icon-wrap">{% render 'icon-plus' %}</span>
          {%- endif -%}
          {%- render 'loading-spinner' -%}
        </button>
      {%- endform -%}
    </product-form>
  </div>
</veena-product-card>