{{ 'custom-collections.css' | asset_url | stylesheet_tag }}

{% style %}
  .custom-collections--bg-container-{{ section.id }}{
    padding-top:{{ section.settings.padding_top | divided_by:2 }}px;
    padding-bottom:{{ section.settings.padding_bottom | divided_by:2 }}px;
    background-color: {{ section.settings.color_background }};
  }
  .custom-collections--heading{
  text-align:{{ section.settings.heading_position }};
  font-size:{{ section.settings.fontSize | divided_by:2}}px;
  font-size:bold;
  }
  .custom-collections--collections-container{
      display: grid;
      grid-template-columns: repeat({{section.settings.no_of_blocks_for_mobile}}, 1fr);
      gap:20px;
  }

  @media screen and (min-width:749px){
    .custom-collections--bg-container-{{ section.id }}{
    padding-top:{{ section.settings.padding_top }}px;
    padding-bottom:{{ section.settings.padding_bottom }}px;
  }

  .custom-collections--collections-container{
    grid-template-columns:repeat({{section.settings.no_of_blocks_for_desktop}}, 1fr);
  }
  .custom-collections--heading{
  font-size:{{ section.settings.fontSize}}px;
  }
  }
{% endstyle %}

<div class="custom-collections--bg-container-{{ section.id }} page-width  custom-collections-container">
  {%- if section.settings.title != blank -%}
    <div data-aos="fade-left">
      <h1 class="custom-collections--heading">{{ section.settings.title }}</h1>
    </div>
  {%- endif -%}
  <div class="custom-collections--collections-container">
    {%- for block in section.blocks -%}
      <div class="custom-collections--single-collection">
        <a class="custom-collections--collection-url" href="{{ block.settings.collection.url }}">
          {% if block.settings.collection.featured_image != blank -%}
            <img
              src="{{ block.settings.collection.featured_image | image_url }}"
              width="auto"
              height="350"
              class="custom-collections--img-ele"
            >
          {%- endif -%}
          <div class="custom-collections--text-container">
            {%- if block.settings.collection.title -%}
              <h3 class="custom-collections--text-element">{{ block.settings.collection.title }}</h3>
            {%- endif -%}
          </div>
        </a>
      </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Custom collections",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "color_background",
        "id": "color_background",
        "label": "Background Color",
        "default": "#ffffff"
      },
    {
        "type": "header",
        "content": "Text customization"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Collections",
      "label": "Heading"
    },
    {
      "type": "range",
      "id": "fontSize",
      "min": 20,
      "max": 100,
      "unit": "px",
      "label": "Font size",
      "default": 30
    },
    {
      "type": "select",
      "id": "heading_position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Heading Position"
    },
    {
        "type": "range",
        "id": "no_of_blocks_for_desktop",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "No of Collections on desktop",
        "default": 2
      },
      {
        "type": "range",
        "id": "no_of_blocks_for_mobile",
        "min": 1,
        "max": 4,
        "step": 1,
        "label": "No of Collections on mobile",
        "default": 1
      },
    {
        "type": "header",
        "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding top",
      "default": 30
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding bottom",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "featured_collection",
      "name": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Seelect collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "custom collections section",
      "blocks": [
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        },
        {
          "type": "featured_collection"
        }
      ]
    }
  ]
}
{% endschema %}
