{{ 'custom-reviews.css' | asset_url | stylesheet_tag }}
{% style %}
  .custom-reviews--{{ section.id }} {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
  }
  @media screen and (min-width: 749px) {
    .custom-reviews--{{ section.id }} {
      padding-top: {{ section.settings.padding_top | divided_by: 2 }}px;
      padding-bottom: {{ section.settings.padding_bottom | divided_by: 2 }}px;
    }
  }
{% endstyle %}
{% assign show_customer_name = section.settings.show_customer_name %}
<section class="review-slider-wrapper container">
  <div class="custom-reviews--{{ section.id }} custom-reviews-wrapper" id="reviews-slider">
    <div class="page-width">
      <h1 data-aos="fade-left" class="{{section.settings.heading_size}}">{{ section.settings.heading }}</h1>
    </div>
    <div class="page-width">
      <div class="custom-reviews-wrapper--reviews-slider">
        <custom-splider
          class="splide"
          data-desktopPerPage="3"
          data-mobilePerPage="1"
          data-autoplay="{{ section.settings.auto_play }}"
          data-autoplay-speed="{{ section.settings.auto_play_duration | times: 1000 | default: 3000 }}"
          data-showArrows="{{ section.settings.show_arrows }}"
          data-showDots="{{section.settings.show_pagination}}"
          data-showdotsonmobile="{{section.settings.show_dots_mobile}}">
          <div class="splide__track">
            <ul class="splide__list">
              {% for block in section.blocks %}
                <li class="splide__slide slide-list">
                  <div class="custom-reviews-wrapper--reviews-slider--review-card">
                    <div class="custom-reviews-wrapper--reviews-slider--review-card--review-image">
                      {% render 'ratings-star' %}
                    </div>
                    <p>{{ block.settings.review }}</p>
                    {% if show_customer_name %}
                      <h3>- {{ block.settings.customer_name }}</h3>
                    {% endif %}
                  </div>
                </li>
              {% endfor %}
            </ul>
          </div>
        </custom-splider>
        <div class="view-all-wrapper">
          <button class="primary-button">View all</button>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{{ 'custom-splider-section.js' | asset_url }}" defer></script>
{% schema %}
  {
    "name": "custom-reviews",
    "class": "section",
    "settings": [
      {
        "type": "inline_richtext",
        "id": "heading",
        "default": "Reviews",
        "label": "Reviews"
      },
      {
        "type": "select",
        "id": "heading_size",
        "options": [
          {
            "value": "h2",
            "label": "Small"
          }, {
            "value": "h1",
            "label": "Medium"
          }, {
            "value": "h0",
            "label": "Large"
          }
        ],
        "default": "h1",
        "label": "Medium"
      },
      {
        "type": "header",
        "content": "Ratings"
      },
      {
        "type": "checkbox",
        "id": "show_customer_name",
        "label": "Show Customer Name",
        "default": true
      }, {
        "type": "checkbox",
        "id": "auto_play",
        "label": "Enable Autoplay",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_pagination",
        "label": "Show dots",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_dots_mobile",
        "label": "Show Dots On Mobile",
        "default": true
      }, {
        "type": "checkbox",
        "id": "show_arrows",
        "label": "Show Arrows",
        "default": false
      }, {
        "type": "range",
        "id": "auto_play_duration",
        "label": "Autoplay duration",
        "min": 1000,
        "max": 5000,
        "step": 1000,
        "unit": "ms",
        "default": 2000
      }, {
        "type": "header",
        "content": "Section Padding"
      }, {
        "type": "range",
        "id": "padding_top",
        "label": "Padding Top",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "default": 0
      }, {
        "type": "range",
        "id": "padding_bottom",
        "label": "Padding Bottom",
        "min": 0,
        "max": 100,
        "step": 10,
        "unit": "px",
        "default": 0
      }
    ],
    "blocks": [
      {
        "type": "ratings",
        "name": "Review",
        "settings": [
          {
            "type": "textarea",
            "id": "review",
            "label": "Review",
            "default": "Give your Review Here",
            "info": "Please limit your review till 10 characters."
          }, {
            "type": "text",
            "id": "customer_name",
            "label": "Customer Name",
            "default": "Verified Customer"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Customer Reviews",
        "category": "Custom"
      }
    ]
  }
{% endschema %}