{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

{%- style -%}
  @media screen and (max-width: 749px) {
    .collection-hero--with-image .collection-hero__inner {
      padding-bottom: calc({{ settings.media_shadow_vertical_offset | at_least: 0 }}px + 2rem);
    }

  }
  #main-banner{
   margin-bottom:0;
  }

  .main-collection-banner--breadcrumbs{
    background-color: #f1f2f4;
    padding:10px;
    padding: 15px 1.5rem;
  }
  @media and (min-width:768px){
    .main-collection-banner--breadcrumbs{
      padding: 18px 5rem;
    }
  }
  /* .collection-hero__image-container{
    min-height: 300px;
    display: block;
  }
  .collection-hero__image-container img {
    height:100%;
    width:100%;
    background-size:cover;
  }
  .main-collection-banner-container{
    position: relative;
    z-index: 0;
} */
.main-collection-banner-container{
  width:100%;
  background-color:#f1f2f4;
}
.main-collection-banner-image-container{
 width:100%;
}
.main-collection-banner-image-container img{
  max-height: 300px;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.main-collection-banner--text-container{
  max-width: 90%;
  margin: 0 auto;
  position: relative;
  width: auto;
  margin-top: -5rem;
}
.hero-inner-banner{
  width: 100%;
  padding: 4rem 1rem 4rem 3rem;
  background-color:#2d2d2d;
}
@media screen and (min-width:768px){
  .hero-inner-banner{
    width: 40%;
    padding: 4rem 1rem 4rem 3rem;
    margin-top: -6rem;
    position: relative;
  }
}
.collection-banner-heading{
  color:#ffffff;
  font-weight: 700;
  line-height: 1.2;
}



{%- endstyle -%}







<div class="main-collection-banner--breadcrumbs">
  <div class="page-width">
    {% render 'breadcrumbs' %}
  </div>
</div>

{% comment %} <div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image{% endif %} color-{{ section.settings.color_scheme }} gradient">
  <div class="collection-hero__inner{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
    {%- if section.settings.show_collection_image and collection.image -%}
      <div class="collection-hero__image-container media gradient">
        <img
          srcset="
            {%- if collection.image.width >= 165 -%}{{ collection.image | image_url: width: 165 }} 165w,{%- endif -%}
            {%- if collection.image.width >= 360 -%}{{ collection.image | image_url: width: 360 }} 360w,{%- endif -%}
            {%- if collection.image.width >= 535 -%}{{ collection.image | image_url: width: 535 }} 535w,{%- endif -%}
            {%- if collection.image.width >= 750 -%}{{ collection.image | image_url: width: 750 }} 750w,{%- endif -%}
            {%- if collection.image.width >= 1070 -%}{{ collection.image | image_url: width: 1070 }} 1070w,{%- endif -%}
            {%- if collection.image.width >= 1500 -%}{{ collection.image | image_url: width: 1500 }} 1500w,{%- endif -%}
            {{ collection.image | image_url }} {{ collection.image.width }}w
          "
          src="{{ collection.image | image_url: width: 750 }}"
          sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px, (min-width: 750px) calc(50vw - 130px), calc(50vw - 55px)"
          alt="{{ collection.image.alt | escape }}"
          width="{{ collection.image.width }}"
          height="{{ collection.image.height }}"
        >
      </div>
    {%- endif -%}
    <div class="collection-hero__text-wrapper">
      <h1 class="collection-hero__title">
        <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
        {{- collection.title | escape -}}
      </h1>

      {%- if section.settings.show_collection_description -%}
        <div class="collection-hero__description rte">{{ collection.description }}</div>
      {%- endif -%}
    </div>
  </div>
</div> {% endcomment %}
<div class="main-collection-banner-container" id="main-banner">
  <div class="main-collection-banner-image-container">
    <img src="{{ collection.image | image_url}}" height="auto" width="auto">
  </div>
  <div class="main-collection-banner--text-container">
    <div class="hero-inner-banner">
      <div >
        <h1 class="collection-banner-heading">Collections</h1>
      </div>
  </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}

{% comment %} 
<collection-custom-tabs class="collection-tabs-title">
                <div class="collection-tabs">
                  
<a class="collection-tab  active " id="all-1" data-href="/collections/all" data-handle="https://effortless-theme-demo.myshopify.com/collections/all">
                      <h2>Shop All</h2>
                    </a>
                  <a class="collection-tab " id="all-2" data-href="/collections/best-sellers" data-handle="https://effortless-theme-demo.myshopify.com/collections/all">
                      <h2>Best Sellers</h2>
                    </a>
                  <a class="collection-tab " id="all-3" data-href="/collections/mens-accessories" data-handle="https://effortless-theme-demo.myshopify.com/collections/all">
                      <h2>Men's Accessories</h2>
                    </a>
                  <a class="collection-tab " id="all-4" data-href="/collections/mens-fashion" data-handle="https://effortless-theme-demo.myshopify.com/collections/all">
                      <h2>Men's Fashion</h2>
                    </a>
                  <a class="collection-tab " id="all-5" data-href="/collections/mens-swimwear" data-handle="https://effortless-theme-demo.myshopify.com/collections/all">
                      <h2>Men's Swimwear</h2>
                    </a>
                  <a class="collection-tab " id="all-6" data-href="/collections/mens-innerwear" data-handle="https://effortless-theme-demo.myshopify.com/collections/all">
                      <h2>Men's Innerwear</h2>
                    </a>
                  
                </div>
              </collection-custom-tabs> {% endcomment %}